@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-image: url(plantafodase.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }



 .navbar {

   text-transform: uppercase;
   font-weight: 700;
   font-size: .9rem;
   letter-spacing: .1rem;
   background: rgba(0, 0, 0, 0.6)!important;
 }



 .navbar-nav li {
     padding-left: .8rem;
 }



 .navbar-dark .navbar-nav .nav-link {
   color: white;
     padding-top: .8rem;
 }



 .navbar-dark .navbar-nav .nav-link.active,
 .navbar-dark .navbar-nav .nav-link:hover {
   color: #4fbd6c;
 }

 .container {
   width: 50%;
   margin: 0 auto;
   background-color: white;
   border: 1px solid black;
   border-radius: 0;
   margin-bottom: 60px;
   padding-left: 0px;
 }


 .titulo {
   color: white;
   font-size: 40px;
   text-transform: uppercase;
   margin: 100px 0 30px;
   text-shadow: 4px 4px 8px black;
 }

 @media (max-width: 767px) {
   .container{
     width: 90%;
   }

.card {
  margin-left: 15px;
}
 }
